<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" src="/styles/resets.scss">
        <link rel="stylesheet" src="/styles/base.scss">
        <link rel="stylesheet" src="/styles/header.scss">
        <link rel="stylesheet" src="/styles/form.scss">
        <link rel="stylesheet" src="/styles/footer.scss">
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
                            onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <b>Form Results:</b>
                <br>
                <div>score tag :</div>
                <div id="score_tag"></div>
                <br>
                <div>Agreement :</div>
                <div id="agreement"></div>
                <br>
                <div>Subjectivity :</div>
                <div id="subjectivity"></div>
                <br>
                <div>Confidence :</div>
                <div id="confidence"></div>

            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
